* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.navbar .nav-left,
.navbar .nav-right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: 1 1 20px;
}

.search-icon {
  font-size: 18px;
}
img{
    width: 100%;
}
